
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
}

h1 {
    margin: 0;
}

.header {
    background-image: url(../img/header/main-bg.png);
    height: 904px;
    max-width: 1440px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 31px;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__title {
    display: flex;
    justify-content: space-between;
}

.header__title-left {
    display: flex;
}

.header__title-right {

}

.menu {
}
.menu__item {
}
.header__content {
}
.header__content-text {
}