.contact-section {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    margin-bottom: 70px;
    box-sizing: border-box;
  }
  
  .contact-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #13a9b9, #6ee0f9);
    border-radius: 20px;
    width: 100%;
    max-width: 1100px;
    color: white;
    overflow: hidden;
  }
  
  .contact-info {
    max-width: 60%;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .contact-info .label {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1;
  }
  
  .contact-info .value {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 34px;
  }
  
  .contact-image img {
    width: auto;
    height: 255px;
    border-radius: 0 20px 20px 0;
  }

  
  @media (max-width: 992px) {
    .contact-box {
      flex-direction: column;
      text-align: center;
      border-radius: 20px;
    }
  
    .contact-info {
      max-width: 100%;
      padding: 30px;
    }
  
    .contact-image img {
      height: 200px;
      width: 100%;
      border-radius: 0 0 20px 20px;
      object-fit: cover;
    }
  }
  
  @media (max-width: 600px) {
    .contact-info .label {
      font-size: 14px;
    }
  
    .contact-info .value {
      font-size: 24px;
      margin-bottom: 24px;
    }
  
    .contact-image img {
      height: 180px;
    }
  }
  
  @media (max-width: 400px) {
    .contact-info {
      padding: 20px;
    }
  
    .contact-info .value {
      font-size: 20px;
    }
  }
  