.header {
    background-image: url(../img/header/main-bg.png);
    height: 904px;
    max-width: 1440px;
    background-repeat: no-repeat;
    margin: 0 auto;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        max-width: 1440px;
        height: 904px;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    &__container, &__top, &__content {
        position: relative;
        z-index: 10;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 100px;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 40px;

        & img {
            width: 20px;
        }
    }

    &__logo-text {
        font-size: 20px;
        font-weight: 600;
        color: white;


    }
    
    &__menu {
        display: flex;
        gap: 30px;

        &__item a {
            color: #fff;
            font-weight: 500;
            font-size: 16px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 10px;

        & a {
            color: #fff;
            font-weight: 500;
            font-size: 16px;
        }
    }

    &__content {
        margin-top: 160px;
        color: white;
        text-align: center;

        & h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 1.3;
        }

        &-primary {
            color: #13ADB7;
        }

        &-text {
            margin-top: 20px;
            font-size: 16px;
            color: #D9D9D9;
        }
    }

    &__buttons {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        gap: 20px;

        &-btn-primary, &-btn-outline {
            padding: 12px 28px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 30px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
        }

        &-btn-primary {
            background-color: #13ADB7;
            color: white;
            border: none;

            &:hover {
                background-color: #108992;
            }
        }

        &-btn-outline {
            background: transparent;
            color: white;
            border: 2px solid white;

            &:hover {
                border: 2px solid #fff;
                color: #ffffff;
            }
        }
    }
}

.highlight {
    color: #13ADB7;
}

.phone-number {
    color: white;
}