
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'header';
@import 'footer';
@import 'donate';
@import 'app';
@import 'statistic';
@import 'partners';
@import 'contact';

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: 16px;
    line-height: 26px;
    background-color: #EFF2F2;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

/*=================Donate===================*/



/*==================App====================*/
  

/*================Statictic==================*/


/*================Partners==================*/



/*================Footer====================*/


  